body {
    font-family: Arial;
    background: #f0f8ff;
    text-align: center;
}

.login-container, .container {
    width: 350px;
    margin: auto;
    padding: 20px;
    background: white;
    margin-top: 100px;
    box-shadow: 0 0 10px gray;
    border-radius: 10px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 8px;
}

button {
    padding: 10px 20px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: darkgreen;
}

.products {
    margin-top: 20px;
    text-align: left;
}
